<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
	<a class="navbar-brand navbar-brand-logo" href="{{ path('bird_list') }}"></a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>

	{% set currentRoute = app.request.attributes.get('_route') %}
	<div class="collapse navbar-collapse" id="navbarColor02">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item{% if currentRoute == 'bird_list' %} active{% endif %}">
				<a class="nav-link" href="{{ path('bird_list') }}">The Birds</a>
			</li>
			<li class="nav-item{% if currentRoute == 'cart_list' %} active{% endif %}">
				<a class="nav-link" href="{{ path('cart_list') }}">Your Cart</a>
			</li>
			{% if app.environment == 'dev' %}
				<li class="nav-item{% if currentRoute == 'api_bird_list' %} active{% endif %}">
					<a class="nav-link" href="{{ path('api_bird_list') }}">Fan API</a>
				</li>
			{% endif %}
		</ul>
		<form class="form-inline my-2 my-lg-0">
			<input class="form-control mr-sm-2" type="text" placeholder="Search">
			<button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
		</form>
	</div>
</nav>
